body {
    margin:10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

form {
    
    padding: 30px;
    text-align: center;
    background-color: #6fc2d6;
    border-radius: 10px;
    border:black;
    text-shadow: 0cap;
    text-indent: -10px;
}


label,input ,textarea{
    margin-top:20px;
    padding-top: 10px;
    margin-bottom: 20px;

}
input[type="submit"]{
    background-color: rgb(0, 17, 255);
}
