body {
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    background-color: #f9ffa8;
}

h1 {
    background-color: rgb(143, 255, 181);
    text-align: center;
}

h2 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

.block {
    display: block;
    background-color: rgb(255, 151, 151);
    padding: 10px;
    margin: 10px auto;
}

.inline {
    display: inline;
    background-color: rgb(255, 223, 43);
    padding: 20px;
    margin-right: 20px;
}

.inline-block {
    display: inline-block;
    background-color: rgb(121, 239, 255);
    padding: 20px;
    width: 100px;
    margin-right: 10px;
}

.none {
    display: none;
}

.flex {
    display: flex;
    gap: 30px;
}

.flex div {
    display: flex;
    background: #6b6eff;
    padding: 20px;
    flex: 1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid div {
    background-color: #ff72e1;
    padding: 10px;
    text-align: center;
}