body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: blanchedalmond;
    margin: 50px;
    text-align: center;
}

h1 {
    background-color: rgb(255, 53, 53);
}

.box {
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid rgb(0, 255, 0);
    padding: 5px;
    max-width: 400px;
    margin: 15px auto;
}

.content {
    background-color: gray;
}

.padding {
    padding: 20px;
    background-color: aqua;
}

.border {
    border: 5px dashed rgb(255, 115, 0);
}

.margin {
    margin: 30px auto;
    background-color: rgb(120, 120, 255);
}

.box-model {
    max-width: 400px;
    background-color: rgb(229, 255, 0);
    padding: 40px;
    border-radius: 20px;
    border: 10px dashed rgb(0, 255, 0);
    border-left: 10px solid rgb(255, 0, 0);
    margin: 100px;

}